#form-add{
    width: 500px;
    margin: auto;
    display: block;
}

fieldset{
    border-color: #9e3d4d;
}

fieldset input, textarea, select{
    border-radius: 5px;
}

input{
    font-size: 13pt;
}

#iPerson, #iAddress, #iComment{
    margin-bottom: 20px;
}

legend{
    font-weight: bold;
    font-size: 13pt;
}